@{
    ViewData["Title"] = "CrearReclamo";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de reclamos de la Defensoría del consumidor</h1>
    <div class="text-center">
        <img class="imgDC" src="src/DC.png" alt="Defensoría del consumidor" />
    </div>
    <br />
    <hr />
    <br />
    <a type="button" class="btn btn-primary btnReclamo" asp-controller="Reclamo" asp-action="CrearReclamo"> Realizar una reclamo</a>
</div>
